{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/spec.alpha {:mvn/version "0.2.176"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {net.mikera/vectorz-clj {:mvn/version "0.48.0"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :depstar {:extra-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
            :ns-default hf.depstar
            :exec-args {:group-id "org.suskalo"
                        :artifact-id "geom"
                        :version "0.1.0-SNAPSHOT"
                        :jar "geom.jar"
                        :sync-pom true}}
  :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "geom.jar"]}
  :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "geom.jar"]}}}
